.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/bin/
/market/
/gen/
/review/
/obj/
/out/
/build/
/.classpath
/.settings/
/.externalToolBuilders/
.idea/*
**/*.iml
/*.iml
/classes/
**/target
/.DS_Store
/local.properties
.DS_Store
.project

/out/
**/gen
**/bin